name: Azure Jaspr WebSite Deploy
on:
  workflow_dispatch:
  
jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Dart
        uses: dart-lang/setup-dart@v1.7.1
        with:
          sdk: 3.9.4
      - name: Install globe_cli
        run: dart pub global activate globe_cli 
      - name: Authenticate to Globe
        run: globe login --token ${{ secrets.GLOBE_DEPLOY_TOKEN }}      
      - name: Install jaspr_cli
        run: dart pub global activate jaspr_cli    
      - name: Install dependencies
        run: dart pub get
      - name: Build Website
        run: jaspr build
      - name: Globe Deploy
        run: globe deploy --prod --project="jaspr-cuapps-website"