name: Azure Jaspr WebSite Deploy
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.35.3
      - name: Install Tailwind CSS CLI
        run: curl -sLO https://github.com/tailwindlabs/tailwindcss/releases/latest/download/tailwindcss-linux-x64 && chmod +x tailwindcss-linux-x64 && sudo mv tailwindcss-linux-x64 /usr/local/bin/tailwindcss
      - name: Verify Tailwind CSS CLI
        run: tailwindcss -h
      - name: Install globe_cli
        run: dart pub global activate globe_cli 
      - name: Authenticate to Globe
        run: globe login --token ${{ secrets.GLOBE_DEPLOY_TOKEN }}      
      - name: Install jaspr_cli
        run: dart pub global activate jaspr_cli    
      - name: Install dependencies
        run: flutter pub get
      - name: Build Website
        run: jaspr build
      - name: Globe Deploy
        run: globe deploy --project="jaspr-cuapps-website"